body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-card{
  animation: rotate 8s infinite linear;
}

.heart-beat{
  animation: heartbeat 1s ease-in-out infinite alternate; 
}


a{
  color: black;
  cursor: pointer;
  margin: 5% 0;
  width: 10%;
  height: auto;

}



ul{
  list-style-type: none;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

li{
  margin: 0 10%;
}

.oldFolio{
  min-width: 20%;
}

@keyframes rotate{
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    };

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

@media screen and (max-width: 500px) {
  a{
    width: 25%;
  }
}